

.detailed-img{
    width: 235px;
    height: 276px;
    border-radius: 12px;
    align-self: center;
}

.detailed-book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 24px;
}

@media screen and (min-width:390px){
    .detailed-book-container{
        padding-left: 150px;
        padding-right:150px ;
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.book-detail-title-head{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;

color: #334155;
text-align: center;
margin-top: 24px;
margin-bottom: 8px;
}

.book-detail-para-text{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 8px;
}

.book-detail-author-name-text{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Light / blue-gray / 600 */

color: #475569;
}

.book-details-rating-text{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Light / blue-gray / 600 */

color: #475569;

}

.book-detail-status{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Light / blue-gray / 600 */

color: #475569;

}


.span-book-details-status{
color: #0284C7;
}


.horizontal-line{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
}

.about-author-text{
    margin-top: 0px;
    margin-bottom: 8px;
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Light / blue-gray / 700 */

color: #334155;

}

.about-author-para{
    margin-top: 0px;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* Light / blue-gray / 600 */

color: #475569;
}

.last-para{
    margin-bottom: 18px;
}

.detail-image-discp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width:390px){
    .detail-image-discp-container{
        flex-direction: row;
        justify-content: center;
    }
    .lg-detailed-bg-container{
        background-color: #FFFFFF;
        padding: 64px;
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 1px 2px rgba(96, 97, 112, 0.16);
        border-radius: 16px;
    }

    .bg-detail-text-lg{
        text-align: left;
        margin: 8px;
        font-size: 24px;
        line-height: 32px;
    }

    .bg-detail-title-text-lg{
        text-align: left;
        margin: 8px;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
    }

    .lg-detail-descp-container{
        padding-left:40px ;
    }
}